# 1. Introduction

**Milestone 3 - Great Expectations**

Nama : Shinta Amalia

Batch : RMT-034

Great Expectations adalah alat open-source untuk validasi data. Alat ini membantu memastikan bahwa data yang digunakan dalam proses analisis atau pemodelan memenuhi ekspektasi tertentu.

# 2. Import Libraries

In [2]:
# import libraries
import pandas as pd
from great_expectations.data_context import FileDataContext

library berhasil diimport.

# 3. Data Loading

In [3]:
# create data context
context = FileDataContext.create(project_root_dir='./')

membuat data context berhasil

In [12]:
# load csv
df = pd.read_csv("project-m3/csv/P2M3_shinta_data_clean.csv")

# create column combining area_code, productid and date
df["comb_areacode_productid_date"] = df["area_code"].astype(str) + "-" + df["productid"].astype(str) + "-" + df["date"].astype(str)

# save to csv
df.to_csv("gx/P2M3_shinta_data_clean_gx.csv")

# show df
df.head(3)

,area_code,state,market,market_size,profit,margin,sales,cogs,total_expenses,marketing,...,budget_profit,budget_cogs,budget_margin,budget_sales,productid,date,product_type,product,type,comb_areacode_productid_date
0,203,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,38.0,...,110.0,110.0,160.0,270.0,2,2010-04-01,Coffee,Columbian,Regular,203-2-2010-04-01
1,203,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,29.0,...,90.0,80.0,130.0,210.0,2,2010-07-01,Coffee,Columbian,Regular,203-2-2010-07-01
2,203,Connecticut,East,Small Market,122.0,195.0,325.0,130.0,73.0,42.0,...,130.0,110.0,180.0,290.0,2,2010-11-01,Coffee,Columbian,Regular,203-2-2010-11-01

Pembuatan kolom baru yang mana gabungan dari area_code, productid, dan date guna sebagai primary key pada database ini.

In [18]:
# create Datasource named m3
datasource_name = "m3"
datasource = context.sources.add_pandas(datasource_name)

# data asset named m3
asset_name = "m3"
path_to_data = "gx/P2M3_shinta_data_clean_gx.csv"
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# build batch request
batch_request = asset.build_batch_request()

Pembuatan datasource dan data asset berhasil.

In [19]:
# create expectation suite
expectation_suite_name = "expectation_project_m3"
context.add_or_update_expectation_suite(expectation_suite_name)

# create validator
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# check validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,area_code,state,market,market_size,profit,margin,sales,cogs,total_expenses,...,budget_profit,budget_cogs,budget_margin,budget_sales,productid,date,product_type,product,type,comb_areacode_productid_date
0,0,203,Connecticut,East,Small Market,107.0,176.0,292.0,116.0,69.0,...,110.0,110.0,160.0,270.0,2,2010-04-01,Coffee,Columbian,Regular,203-2-2010-04-01
1,1,203,Connecticut,East,Small Market,75.0,135.0,225.0,90.0,60.0,...,90.0,80.0,130.0,210.0,2,2010-07-01,Coffee,Columbian,Regular,203-2-2010-07-01
2,2,203,Connecticut,East,Small Market,122.0,195.0,325.0,130.0,73.0,...,130.0,110.0,180.0,290.0,2,2010-11-01,Coffee,Columbian,Regular,203-2-2010-11-01
3,3,203,Connecticut,East,Small Market,105.0,174.0,289.0,115.0,69.0,...,110.0,100.0,160.0,260.0,2,2010-12-01,Coffee,Columbian,Regular,203-2-2010-12-01
4,4,203,Connecticut,East,Small Market,104.0,135.0,223.0,90.0,56.0,...,90.0,80.0,130.0,210.0,2,2011-07-01,Coffee,Columbian,Regular,203-2-2011-07-01

validator berhasil.

# 4. Great Expectations

## 4.1. To be unique

In [20]:
# 1. Expect 'comb_areacode_productid_date' column to be unique
validator.expect_column_values_to_be_unique("comb_areacode_productid_date")

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:

- Hasil analisis menunjukkan bahwa dataset ini telah terkelompok dengan baik. Setiap baris data merepresentasikan kombinasi unik dari area_code, productid, dan date, sehingga tidak terdapat duplikasi data untuk kombinasi tersebut.

## 4.2. To be between min value and max value

In [21]:
# Expect 'cogs' column to be between min_value and max_value
validator.expect_column_values_to_be_between("cogs", min_value=0, max_value=400)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Validasi terhadap kolom COGS menunjukkan bahwa semua nilai berada dalam rentang yang diharapkan, yaitu antara 0 dan 400. Ini menandakan bahwa tidak ada kesalahan input data yang menyebabkan nilai COGS menjadi negatif atau melebihi batas atas yang ditentukan.

## 4.3. To be in set

In [25]:
# Column `productid` must contain one of the following 13 things :
# 1 = Amaretto
# 2 = Columbian
# 3 = Decaf Irish Cream
# 4 = Caffe Latte
# 5 = Caffe Mocha
# 6 = Decaf Espresso
# 7 = Regular Espresso
# 8 = Chamomile
# 9 = Lemon
# 10 = Mint
# 11 = Darjeeling
# 12 = Earl Grey
# 13 = Green Tea

validator.expect_column_values_to_be_in_set('productid', [1,2,3,4,5,6,7,8,9,10,11,12,13])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Validasi terhadap kolom productid menunjukkan bahwa semua nilai sudah sesuai yang diharapkan yang dalam productid terdiri dari 13 jenis produk yang dijual.

## 4.4. To be of type list

In [22]:
# Expect 'date' column to be of type string
validator.expect_column_values_to_be_in_type_list("date", ["date", "str"])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Validasi untuk memastikan bahwa kolom date memiliki tipe data yang sesuai menunjukkan bahwa kolom tersebut bertipe date atau string.

## 4.5. To be of type

In [23]:
# Expect 'inventory' column to be of type numeric
validator.expect_column_values_to_be_of_type("inventory", "float")

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "observed_value": "float64"
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Validasi terhadap kolom inventory menunjukkan bahwa semua nilai dalam kolom ini bertipe float, yang memastikan bahwa data persediaan disimpan dalam format numerik yang tepat.

## 4.6. To not be null

In [26]:
# Expect 'profit' not null
validator.expect_column_values_to_not_be_null("profit")

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Validasi memastikan bahwa kolom profit tidak memiliki nilai null. Ini berarti semua data terkait keuntungan lengkap.

## 4.7. A to be greater than B

In [27]:
# Expect 'budget_sales' greater than or equal to 'budget_profit'
validator.expect_column_pair_values_a_to_be_greater_than_b("budget_sales", "budget_profit", True)

Calculating Metrics:   0%|          | 0/7 [00:00<?, ?it/s]

{
  "success": true,
  "meta": {},
  "result": {
    "element_count": 4248,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

insight:
- Hasil validasi menunjukkan bahwa nilai budget_sales selalu lebih besar atau sama dengan budget_profit. Ini memastikan bahwa asumsi dasar mengenai hubungan antara penjualan dan keuntungan dalam anggaran sudah sesuai dengan ekspektasi bisnis.

# 5. Conclusion

Conclusion:

Setelah melakukan berbagai validasi menggunakan Great Expectations, dapat disimpulkan bahwa data yang digunakan sudah memenuhi standar yang ditetapkan.